<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webdemo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
   <!-- 成绩查询-->
  <servlet>
  	<servlet-name>queryscore</servlet-name>
  	<servlet-class>com.zr.action.QueryScoreAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>queryscore</servlet-name>
  	<url-pattern>/llj/queryscore</url-pattern>
  </servlet-mapping>
    <!-- 考试查询 -->
  <servlet-mapping>
    <servlet-name>EMSSearchAction</servlet-name>
    <url-pattern>/ems/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSSearchAction</servlet-name>
    <servlet-class>com.zr.action.ems.SearchAction</servlet-class>
  </servlet>
  <!-- 删除考试 -->
  <servlet-mapping>
    <servlet-name>EMSDeleteAction</servlet-name>
    <url-pattern>/ems/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSDeleteAction</servlet-name>
    <servlet-class>com.zr.action.ems.DeleteAction</servlet-class>
  </servlet>
  <!-- 新增考试 -->
  <servlet-mapping>
    <servlet-name>EMSInsertAction</servlet-name>
    <url-pattern>/ems/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSInsertAction</servlet-name>
    <servlet-class>com.zr.action.ems.InsertAction</servlet-class>
  </servlet>
  <!-- ？？？ -->
  <servlet-mapping>
    <servlet-name>EMSInsertExamQuestion</servlet-name>
    <url-pattern>/ems/insertExamQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSInsertExamQuestion</servlet-name>
    <servlet-class>com.zr.action.ems.examQuestion.InsertExamQuestionAction</servlet-class>
  </servlet>
  <!-- 获取考试基本信息 -->
  <servlet-mapping>
    <servlet-name>EMSGetExamBaseInfo</servlet-name>
    <url-pattern>/ems/getExamBaseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSGetExamBaseInfo</servlet-name>
    <servlet-class>com.zr.action.ems.examQuestion.GetExamBaseInfoAction</servlet-class>
  </servlet>
  <!-- 获取考题类型 -->
  <servlet-mapping>
    <servlet-name>EMSGetQuestionType</servlet-name>
    <url-pattern>/ems/getQuestionType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSGetQuestionType</servlet-name>
    <servlet-class>com.zr.action.ems.examQuestion.GetQuestionTypeAction</servlet-class>
  </servlet>
  <!-- 获取考题 -->
  <servlet-mapping>
    <servlet-name>EMSGetQuestion</servlet-name>
    <url-pattern>/ems/getQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSGetQuestion</servlet-name>
    <servlet-class>com.zr.action.ems.examQuestion.GetQuestionAction</servlet-class>
  </servlet>
  <!-- 设置考题 -->
  <servlet-mapping>
    <servlet-name>EMSSetQuestion</servlet-name>
    <url-pattern>/ems/setQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMSSetQuestion</servlet-name>
    <servlet-class>com.zr.action.ems.examQuestion.SetQuestionAction</servlet-class>
  </servlet>
</web-app>